.navB{
  background-color: #28262c !important;
  color: #f5f2ff !important;
}

.menu{
  position: relative;left: 200px;
}
.menuA{
  color: #f5f2ff !important;

}

ul li a {
display: block;
padding: 7px;
text-align: center;

}

ul li a:hover {

  background: #72bb53ff;
  /*-webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;*/
  text-decoration: none;
  border-radius: 5px;


  }


/*.menuA{
  color: #f5f2ff !important;
-webkit-transition-duration: 0.4s;
  transition-duration: 0.2s;
  margin-inline-start: 80px;
  margin-top: 5px;

  width: 90%;
  text-align: center;
}

.menuA:hover {
  background-color: #72bb53ff;
  color: white !important;
  border-radius: 5px 5px 5px 5px;
  align-content: right;

}

.menuA:active{
  background-color: #72bb53ff;
  color: white !important;
  border-radius: 5px 5px 5px 5px;
  align-content: right;

}

.menu{
  position: relative; left: 90px; top: 5px;
  height: 80%;
}*/

.logo{
  background-size: cover;
  width: 50px;
  height: 50px;
}

.reg{
  color: #72bb53ff;
  position: relative; left: 400px;
}

.reg:hover{
  color: lime;
}

.logIn{
  border-color: #72bb53ff;
  color: #72bb53ff;
  position: relative; left: 400px;
}


.logIn:hover{
  border-color: #72bb53ff;
  color :  #28262c ;
  background-color: #72bb53ff;
}

.lineaVertical{
    background-color:#5707b3;
    width:0px;height:30px;
    border-right:1px solid #5707b3;
    margin-top: 12px;



}



.navbar-toggler{
  background-color: #72bb53ff !important;
}
