.navB{
  background-color: #28262c !important;
}

.menuA{
  color: #f5f2ff !important;
-webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.2s;
  margin-inline-start: 80px;
  margin-top: 5px;
  border-color: #72bb53ff;
  width: 90%;
  text-align: center;
}

.menuA:hover {
  background-color: #72bb53ff; /* Green */
  color: white !important;
  border-radius: 5px 5px 5px 5px;
  align-content: right;

}

.menuA:active{
  background-color: #72bb53ff; /* Green */
  color: white !important;
  border-radius: 5px 5px 5px 5px;
  align-content: right;
  
}

.menu{
  position: relative; left: 90px; top: 5px;
  height: 80%;
}

.reg{
  color: #72bb53ff;
  position: relative; left: 390px;
}

.reg:hover{
  color: lime;
}

.logIn{
  border-color: #72bb53ff;
  color: #72bb53ff;
  position: relative; left: 400px;
}


.logIn:hover{
  border-color: #72bb53ff;
  color :  #28262c ;
  background-color: #72bb53ff;
}

.lineaVertical{
    background-color:#5707b3;
    width:0px;height:30px;
    border-right:1px solid #5707b3;
    margin-top: 12px;

    position: relative; left:73px;

}

.nav-item{
color: #0D224F;
font-family: Helvetica, sans-serif;
font-weight: bold;
padding-top: 7px;
padding-left: 5px;
padding-right: 5px;
display:block;
}

.navbar-toggler{
  background-color: #72bb53ff !important;
}
